// variables
$primarycolor: white;
$buttoncolor1: #f1a61b;
$buttoncolor2: #af3030;
$textcolor1:#292929;
$textcolor2:#af3030;
$font1: sans-serif;
$font2: cursive;
$inline: 6rem;
$sectheight: 85.3vh;
// $gradient: to the right, white, #af3030;